.submenu-file {
    padding-top: 2px;
}

.digit {
    color: #666;
    font-size: 20px;
    max-width: 24px;
    text-align: center;
}

.digit.selected {
    border-bottom: 2px solid #666;
}

.digit:hover {
    border-bottom: 2px solid #999;
}